{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
<script type='text/javascript'>
//<![CDATA[
function loadCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }
loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//]]>
</script>
    </header>
{% endif %}

{% include nav.html %}
